/* for services.html */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color:red;
}

h2 {
    font-size: 22px;
    color:blueviolet;
}

p {
    font-size: 16px;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}
th{
    color: brown;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
